:root {
  --lightGreen: #49703b;
  --darkBrown: #9a5319;
  --brown: #cf6f21;
  --medBrown: #df843a;
  --lightBrown: #edad78;
  --paleBrown: #f7d6bb;
  --green: #18400a;
  --red: #991d08;
  --yellow: #f2d727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: box-border;
  font-family: 'Mali', cursive;
}

body {
  text-align: center;
  background-color: var(--lightGreen);
}

#tictactoe {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--darkBrown);
  font-size: 3rem;
  text-shadow: 2px 3px 4px black;
  margin-top: 15px;
}

#header {
  margin-top: 30px;
  font-size: 1.25rem;
}

#selection, #bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  margin: 10px 0px;
}

button {
  background-color: var(--yellow);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover, button:active {
  border-radius: 15px;
  background-color: var(--darkBrown);
  transform: scale(1.25);
  color: white;
}

.selected {
  border-radius: 15px;
  background-color: var(--green);
  color: white;
  transform: scale(1.25);
}

button:focus {
  outline: 0;
}

#canvas {
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  background-image: radial-gradient(var(--paleBrown), var(--lightBrown), var(--brown));
  pointer-events: none;
  box-shadow: 3px 2px 10px 1px black;
}

#score {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  font-weight: bold;
}

#playerX {
  color: var(--green);
}

#playerO {
  color: var(--red);
}

#board {
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 6px;
  border: 1px solid var(--darkBrown);
  background-image: radial-gradient(var(--paleBrown), var(--lightBrown), var(--brown));
  box-shadow: 2px 2px 3px var(--darkBrown);
}

.square {
  border: 1px solid black;
  text-align: center;
  height: 91px;
  width: 91px;
}

.square:nth-child(-n+3) {
  border-top: none;
}

.square:nth-child(3n+1) {
  border-left: none;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-last-child(-n+3) {
  border-bottom: none;
}

#turn {
  font-size: 1.25rem;
  background-color: var(--medBrown);
  border-radius: 10px;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
}

#footer {
  font-weight: bold;
  font-size: 0.95em;
}
#footer p {
  margin: 0;
}

.icon {
  width: 91px;
  height: 91px;
}

path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#xone, #xtwo {
  stroke: var(--green);
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
}

#xone {
  animation: dash 0.25s linear forwards;
}

#xtwo {
  animation: dash 0.25s linear forwards 0.25s;
}

#circle {
  stroke: var(--red);
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash 0.5s linear forwards;
}

#line {
  stroke: var(--yellow);
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: dash 0.2s linear forwards 0.5s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }

  h1 {
    margin-top: 0px;
  }

  #header {
    margin-top: 10px;
  }

  button:hover, button:active {
    transform: scale(1.2);
  }

  .selected {
    transform: scale(1.2);
  }

  .square {
    height: 66px;
    width: 66px;
  }

  .icon {
    width: 66px;
    height: 66px;
  }
}